html
	background linear-gradient(top, white, black)
	box-shadow inset 0 0 100px 10px rgba(0, 0, 0, .75)
.test
	border-radius 1px 2px / 3px 4px
	background linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%)
.test2
	background linear-gradient(top, yellow, blue)
header
	background #000
	color #fff