header
	nav(role='navigation')
		mixin a(href, name)
			a(ui-sref=href, ui-sref-active='active', class!=attributes.class)= name
		+a('home', 'Project')(class='logo')
		ul(class='menu')
			li: +a('about', 'About')(class='btn')
			li: +a('contact', 'Contact')(class='btn')
			li: +a('services', 'Services')(class='btn')
		ul(class='login')
			li: +a('login', 'Login')(class='dropdown')