header
	nav.navigation
		mixin a(href, name)
			a(ui-sref=href, ui-sref-active='active', class!=attributes.class)=name
		+a('home', 'Project').logo
		ul.menu
			li: +a('about', 'About').btn
			li: +a('contact', 'Contact').btn
			li: +a('services', 'Services').btn
		ul.login
			li: +a('login', 'Login').dropdown