doctype html
html(lang='en')
	include includes/head
	body(ng-app='routerApp')
		// Header
		include includes/header

		// Angular View 
		.container
			div(ui-view)

		// Footer
		include includes/footer