doctype html
html(lang='en')
	include partials/head
	body(ng-app='routerApp')
		// Header
		include partials/header

		// Angular View 
		.container
			div(ui-view)

		// Footer
		include partials/footer