doctype html
html(lang="en")
	head
		title Hello World
		link(rel="stylesheet", type="text/css",href="css/main.min.css")
	body
		header
			nav
		h1 This is a really good workflow.Aiden is cool:):):):):):):):)
		h2 Life should be easier.
		p Let's just build things.
		ul
			li 1
			li 2
			li 3
			li 4
			li 5