header
	nav
		a(href='#home') Home
		a(href='#about') About
		a(href='#contact') Contact
		a(href='#services') Services
		a(href='#services') Services
		a(href='#services') Services
		a(href='#services') Services
		a(href='#services') Services