header
	nav(role='navigation')
		mixin link(href, name, classname)
			li: a(class!=attributes.class, ui-sref=href)= name
		ul
			+link('home', 'Project')(class='logo')
			+link('home', 'Home')
			+link('about', 'About')
			+link('contact', 'Contact')
			+link('services', 'Services')